<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Кваст</title>
	<link rel="stylesheet" href="css/style.css">
	<meta name="HandheldFriendly" content="True">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="/">
	<meta name="format-detection" content="telephone=no">
</head>
<body>
	{% include "../blocks/header.twig" %}
	{% include "../blocks/goods.twig" %}
	{% include "../blocks/advantages.twig" %}
	{% include "../blocks/history.twig" %}
	{% include "../blocks/press.twig" %}
	{% include "../blocks/catalog.twig" %}
	{% include "../blocks/order.twig" %}
	{% include "../blocks/footer.twig" %}
</body>
</html>
