<section class="section section--alter">
	<ul class="advantages container container--wide">
		<li class="advantages__item">
			<h2 class="subtitle advantages__heading" style="background-image: url(img/icon-brew.png)">
				Варим сами
			</h2>
			<p>Вот этими самыми руками. Экспериментируем и творим, что хотим.</p>
		</li>
		<li class="advantages__item">
			<h2 class="subtitle advantages__heading" style="background-image: url(img/icon-matreshka.png)">
				Своё, родное
			</h2>
			<p>Не заработка ради, а импортозамещения для. Поднимаем производство.</p>
		</li>
		<li class="advantages__item">
			<h2 class="subtitle advantages__heading" style="background-image: url(img/icon-thumbsup.png)">
				Не экономим
			</h2>
			<p>Человек это то, что он ест и пьёт. У нас только качественные ингредиенты.</p>
		</li>
	</ul>
</section>
