<section class="catalog section">
	<div class="container">
		<h2 class="heading section__heading">Ассортимент</h2>
		<table class="table catalog__table">
			<tr>
				<th style="width: 386px">Название</th>
				<th style="width: 76px">Алк.</th>
				<th style="width: 47px">Ккал</th>
				<th>Объём</th>
				<th>Стоимость</th>
			</tr>
			<tr>
				<td>Классика</td>
				<td>&lt; 1,2%</td>
				<td>33</td>
				<td>330 мл</td>
				<td>120 Р.</td>
			</tr>
			<tr>
				<td>Шабаш</td>
				<td>&gt; 1,2%</td>
				<td>45</td>
				<td>330 мл</td>
				<td>250 Р.</td>
			</tr>
			<tr>
				<td>Вахтёр <sup class="novelty">Новинка</sup></td>
				<td>&lt; 1%</td>
				<td>35</td>
				<td>0,5 л</td>
				<td>150 Р.</td>
			</tr>
			<tr>
				<td>Романтик <sup class="novelty">Новинка</sup></td>
				<td>&lt; 0,5%</td>
				<td>27</td>
				<td>0,5 л</td>
				<td>90 Р.</td>
			</tr>
		</table>
	</div>
</section>
