<footer class="footer">
	<div class="container container--wide">
		{% include "nav.twig" with { mix: 'footer__nav', menuMix: 'footer__menu' }%}
		<div class="footer__bottom">
			<div class="footer__socials">
				<a class="footer__pict-link" style="background-image: url(img/icon-insta.png)" href="#nowhere"><span class="visually-hidden">Инстаграм</span></a>
				<a class="footer__pict-link" style="background-image: url(img/icon-fb.png)" href="#nowhere"><span class="visually-hidden">Фейсбук</span></a>
				<a class="footer__pict-link" style="background-image: url(img/icon-vk.png)" href="#nowhere"><span class="visually-hidden">Вконтакте</span></a>
			</div>
			<p class="footer__note footer__text">При перепечатке материалов ссылка на сайт обязательна!</p>
			<p class="footer__dev footer__text">
				<a class="footer__pict-link" href="https://htmlacademy.ru/courses/345"><img src="img/htmlacademy.png" alt="Лого HTML Academy" width="27" height="34"></a>
				<span><b>Разработчик:</b> <a class="footer__link" href="https://htmlacademy.ru/courses/165">HTML Academy</a></span>
			</p>
		</div>
	</div>
</footer>
