<section class="section">
	<div class="container">
		<h2 class="heading section__heading">Новинки</h2>
		<div class="goods">
			<article class="good goods__item">
				<h3 class="heading good__heading">Вахтёр</h3>
				<div class="good__body">
					<div class="good__data">
						<table class="good__params">
							<tr>
								<td class="good__param">Алк.</td>
								<td class="good__param">&lt; 1%</td>
							</tr>
							<tr>
								<td class="good__param">Ккал</td>
								<td class="good__param">35</td>
							</tr>
						</table>
						<p class="good__structure">Ржаной хлеб, Вода, Солод, Соль</p>
					</div>
					<img class="good__img" src="img/bottle-left.jpg" alt="Вахтёр" width="319" height="459">
					<p>Терпкий и мощный, вкус этого кваса взбодрит после тяжёлого дня и придаст сил для вечерних приключений!</p>
				</div>
				<footer class="good__footer">
					<a class="button button--alter good__button" href="#nowhere">Подробнее</a>
					<a class="button good__button" href="#nowhere">Купить</a>
					<b class="good__price">150 Р.</b>
				</footer>
			</article>
			<article class="good goods__item">
				<h3 class="heading good__heading">Романтик</h3>
				<div class="good__body">
					<div class="good__data">
						<table class="good__params">
							<tr>
								<td>Алк.</td>
								<td>&lt; 0,5%</td>
							</tr>
							<tr>
								<td>Ккал</td>
								<td>27</td>
							</tr>
						</table>
						<p class="good__structure">Ячменный хлеб, Вода, Солод, Апельсин</p>
					</div>
				</div>
				<img class="good__img" src="img/bottle-right.jpg" alt="Романтик" width="319" height="459">
				<p>Лёгкий и освежающий напиток поможет сохранять отличное настроение в течение всего дня.</p>
				<footer class="good__footer">
					<a class="button button--alter good__button" href="#nowhere">Подробнее</a>
					<a class="button good__button" href="#nowhere">Купить</a>
					<b class="good__price">90 Р.</b>
				</footer>
			</article>
		</div>
	</div>
</section>
