<section class="section">
	<div class="container">
		<h2 class="heading section__heading">Немного истории</h2>
		<dl class="history">
			<dt class="history__name">
				<span class="subtitle">Происхождение кваса</span>
				<cite class="history__source">Источник: <a href="#nowhere">ru.wikipedia.org</a></cite>
			</dt>
			<dd class="history__content">
				<div class="history__img">
					<img src="img/wiki-1.png" alt="Происхождение кваса" width="200" height="101">
				</div>
				<p>Квас на Руси появился в X-XI веке. Само слово «квас» тоже имеет древнерусское происхождение. Помимо России квас готовят в Белоруссии, Сербии, Македонии, Словакии и многих других странах, но называется он везде одинаково — квас.</p>
			</dd>
			<dt class="history__name">
				<span class="subtitle">Классификация кваса</span>
				<cite class="history__source">Источник: <a href="#nowhere">ru.wikipedia.org</a></cite>
			</dt>
			<dd class="history__content">
				<div class="history__img">
					<img src="img/wiki-2.png" alt="Классификация кваса" width="200" height="101">
				</div>
				<p>По российскому ГОСТу для промышленного изготовления — это напиток с объёмной долей этилового спирта не более 1,2%, изготовленный в результате незавершённого спиртового и молочнокислого брожения сусла.</p>
			</dd>
		</dl>
	</div>
</section>
