<section class="section press">
	<div class="container">
		<h2 class="heading section__heading">Пресса о нас</h2>
		<blockquote class="press__quote">
			<p>Сегодня мы провели дегустацию чего-то действительно новенького — крафтового кваса. Да, да, вы не ослышались! Спасибо Арсену и Руслану за то, что предоставили целую бочку своего напитка!</p>
			<cite class="subtitle">Газета столичный Стольник</cite>
			<a class="button button--alter press__link" href="#nowhere">Читать далее</a>
		</blockquote>
	</div>
</section>
